.Login{
    height: 100vh;
    text-align: center;
    align-content: center;
}
.Login-form{
    display:flex;
    flex-direction: column;
    margin:auto;
    margin-top: 4rem;
    width: 14rem;
    gap:2rem;
}

/* .Login-form > input {
    padding:0.7rem 1rem;
} */

.Login-btn{
    margin-top:1rem;
    margin-bottom:1rem;
    background-color: var(--primary-1);
    color:white;
    border:none;
}